* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif  ;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 120px 0;
    align-items: center;
}

.page-title {
    color: #021338;
}

.textarea-with-copy-and-saving-buttons {
    width: 600px;
    margin:  30px 0 40px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    width: 600px;
    height: 300px;
    padding: 10px;
    resize: none;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
}

.action-buttons-container {
    display: flex;
    flex-direction: row;
}

#copy-text-action-button,
#save-text-file-action-button {
    background-color: rgb(53, 99, 213);
}

button {
    background-color: #06246e;
    color: white;
    border: none;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    width: 150px;
}