* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    cursor: pointer;
}

.list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 650px;
    width: 800px;
    background-color: rgba(208, 234, 236, 0.32);
    border-radius: 50px;
    padding: 60px 0;
}

.list-title {
    font-size: 30px;
    margin: 0 0 30px;
    text-align: center;
}

#input-task {
    border: none;
    border-bottom: 2px solid #52899b;
    width: 500px;
    padding: 5px;
    background: none;
}

#add-task-button {
    background-color: #52899b;
    height: 30px;
    width: 90px;
    color: white;
    border-style: none;
    text-align: center;
    justify-content: center;
    margin: 3px;
    border-radius: 15px;
}

#add-task-button:focus {
    box-shadow: 0 0 15px 2px #52899b;
}

.block-with-tasks {
    margin-top: 40px;
    padding: 10px 10px 10px;
    width: 650px;
    max-height: 350px;
    overflow: auto;
}

.block-with-tasks::-webkit-scrollbar {
    width: 10px;
}

.block-with-tasks::-webkit-scrollbar-thumb {
    background-color: rgba(82, 137, 155, 0.52);
    border-radius: 30px;
    height: 20px;
}

.block-with-tasks::-webkit-scrollbar-track {
    background-color: rgba(154, 168, 170, 0.41);
    border-radius: 30px;
}

.task {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 10px 15px;
    position: relative;
    align-items: center;
    border-radius: 15px;
    width: 600px;
    margin: 10px auto;
}

.task:hover {
    box-shadow: rgba(82, 137, 155, 0.42) 0 5px 25px 0;}

.task-text {
    width: 500px;
    padding: 10px 0 10px 10px;
}

.delete-btn {
    position: absolute;
    right: 10px;
    background-color: #b21b1b;
    color: white;
    font-size: 18px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-style: none;
    padding-bottom: 2px;
    justify-self: flex-end;
}

.delete-btn:focus {
    box-shadow: 0 0 15px 2px #b21b1b;
}

.checkmark {
    appearance: none;
}

.fake-checkmark {
    height: 15px;
    width: 15px;
    box-shadow: 0 0 1px 1px #52899b;
    border-radius: 100%;
}

.checkmark:checked + .fake-checkmark {
    background-color: #52899b;
}

.checkmark:focus + .fake-checkmark {
    box-shadow: 0 0 15px 2px #52899b;
;
}

@media (max-width: 670px) {
    body {
        width: 100vh;
        font-size: 22px;
    }
    .list-wrapper {
        width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    .list-title {
        font-size: 1.5em ;
    }

    #input-task {
        width: 50vh;
        font-size: 1em;
    }

    .input-task-block {
        width: 70vh;
    }

    #add-task-button {
        height: 2.5em;
        width: 6em;
        font-size: .8em;
    }

    .delete-btn {
        height: 2.5em;
        width: 2.5em;
        right: 5em;
    }

    .fake-checkmark {
        height: 1.2em;
        width: 1.2em;
        box-shadow: 0 0 1px 1px #52899b;
        border-radius: 100%;
    }

    .task {
        padding: 0 2em;
    }

    .task-text {
        width: 15rem;
    }
}